@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-chitty-black text-white antialiased;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-r from-chitty-orange to-chitty-orange-light bg-clip-text text-transparent;
  }
  
  .border-gradient {
    background: linear-gradient(to right, #FF6B35, #FF8659);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    padding: 1px;
  }
}